</main>

<footer>
  <div class="container">
    <p>&copy; <%= new Date().getFullYear() %> Amiibo Database. All rights reserved.</p>
    <p> rsahyoun <%= new Date().getFullYear() %></p>
  </div>
</footer>
</body>

</html>