<%- include("partials/header.ejs") %>

<!DOCTYPE html>
<html>    
    <body>
        <h1>Amiibo Info Site</h1>
        <h2>Welcome to Ryan's Amiibo Archive </h2>

        <div class="container">
            <h1>Nintendo Amiibo Search</h1>
            <label for="amiibo-select">Select an Amiibo:</label>
            <form id="amiibo-form" action="/amiibo" method="get">
                <select id="amiibo-select">
                <option value="">--Select an Amiibo--</option>
                <% amiibos.sort((a, b) => a.name.localeCompare(b.name)).forEach(function(amiibo) { %>
                    <option value="<%= amiibo.tail %>"><%= amiibo.name %></option>
                <% }); %>
                </select>
                <button type="submit">Get Amiibo Info</button>
            </form>

            <div>
                <form id="info-form" action="/info" method="get"></form>
                <button type="submit" id="site-info" action=""></info>
            </div>
        </div>
    
        <script src="" async defer></script>
    </body>
</html>

<%- include("partials/footer.ejs") %>