body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.container {
    max-width: 600px;
    margin: auto;
}
.amiibo-info {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


h1 {
    color: #007bff; /* Bootstrap primary color */
    margin-bottom: 20px;
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    margin-bottom: 10px;
}

select, button {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da; /* Light grey border */
}

select {
    background-color: #e9ecef; /* Light grey background for dropdown */
    color: #495057; /* Dark grey text */
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

#backSearching {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    background-color: #cad1da;
}

@media (max-width: 576px) {
    form {
        padding: 15px;
    }

    select, button {
        font-size: 14px;
    }
}


/* Header Styles */
header {
    background-color: #007bff; /* Bootstrap primary color */
    color: #ffffff;
    padding: 20px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    text-align: center;
    font-size: 2.5rem;
}

header nav {
    text-align: center;
    margin-top: 10px;
}

header nav a {
    color: #ffffff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: #ffdd57; /* Light yellow on hover */
}


/* Footer Styles */
footer {
    background-color: #343a40; /* Dark grey background */
    color: #ffffff;
    padding: 15px 0;
    text-align: center;
    margin-top: 40px;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}

footer a {
    color: #007bff; /* Bootstrap primary color */
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
